<div class="body-section projects">

	<div class="projects-container flex-container">
		<div class="title-container flex-section-title-left">
			<h2>Projects.</h2>
		</div>
		<div class="info-container flex-section-project">
			<div style="background-image: url('https://source.unsplash.com/random/450x150');" class="project-item"><span>Project 1</span></div>
			<div style="background-image: url('https://source.unsplash.com/random/450x151');" class="project-item"><span>Project 2</span></div>
			<div style="background-image: url('https://source.unsplash.com/random/450x152');" class="project-item"><span>Project 3</span></div>
			<div style="background-image: url('https://source.unsplash.com/random/450x153');" class="project-item"><span>Project 4</span></div>
		</div>
	</div>
</div>

