<div class="body-section contact">

	<div class="contact-container flex-container">
		<div class="title-container flex-section-title-left">
			<h2>/ Contact.</h2>
		</div>
		<div class="info-container flex-section-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ratione ab tempora, cumque, quam necessitatibus tenetur iure numquam voluptatibus repellendus, modi debitis consequuntur! Adipisci modi, numquam quis minus quidem ipsum.</p>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ratione ab tempora, cumque, quam necessitatibus tenetur iure numquam voluptatibus repellendus, modi debitis consequuntur! Adipisci modi, numquam quis minus quidem ipsum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ratione ab tempora, cumque, quam necessitatibus tenetur iure numquam voluptatibus repellendus, modi debitis consequuntur! Adipisci modi, numquam quis minus quidem ipsum.</p>
		</div>
	</div>
</div>

