<div class="body-section about">

	<div class="about-container flex-container">
		<div class="title-container flex-section-title-left">
			<h2>About.</h2>
		</div>
		<div class="info-container flex-section-text">
			<div class="sub-container bio">
				<span class="icon bio-icon"></span>
				<p>Iain Ross, 21</p>
			</div>
			<div class="sub-container location">
				<span class="icon location-icon"></span>
				<p>Belfast, UK</p>
			</div>
			<div class="sub-container uni">
				<span class="icon uni-icon"></span>
				<p>Queen's University Belfast</p>
			</div>
			<div class="sub-container work">
				<span class="icon work-icon"></span>
				<p>iManage LLC</p>
			</div>
		</div>
	</div>
</div>

