body{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    height: 100vh;
    max-height: 950px;
}

.main-container{
    display: flex;
    flex-direction: column;

    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

html {
    min-height: 100%;
    margin: 0;
}

h1, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  word-spacing: 2px;
}

img{
  height: 50px;
  margin-left: 10px;
  width: 50px;
  margin-top: 30px;
  margin-bottom: -80px;
}