<div class="section-container right experience">

	<h2>Experience</h2>

	<div class="info-container">

		<h4>Software Intern, iManage Govern</h4>

		<h5>July 2016 - Current</h5>

		<p>Initially taken on as a backend developer for an enterprise web application, later transitioned to the frontend team to work on the Angular2 framework. Using an AGILE development process, I was responsible for adding new features to the application and maintaining/improving the code base in order to be ready for a v1 release. </p>

		<h5>Skills: Angular2, SASS, HTML, Groovy, Java, REST, SQL, Git, XML</h5>
	
	</div>

	<div class="info-container">

		<h4>Freelance Video Editing</h4>


		<h5>2013 - 2016</h5>

		<p>Worked with various online personalities and influencers in order to create high quality videos for their respective social media and content creation channels.</p>

		<h5>Skills: Adobe CC, Sony Vegas, 3DS Max, Cinema 4D</h5>
	
	</div>
	
</div>