.home-section{
  padding: 10px;
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.home-section.left{
  width: 45%;
  background-color: #333;
  color: #CCC;
  order: 0;
  .section-container{
      h1{
        color: #EEE;
      }
    }
}

.home-section.right{
	background-color: #f9f9f9;
  order: 1;
  width: 55%;  
  color: #666;
}

.section-container{
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 240px;
  width: 95%;
  margin: 0 auto;
  &.left{
    h1, h2, strong{
      color: #EEE
    }
    strong{
      font-size: 1.2em;
    }
  }

  &.right{
    h1, h2, h4, h3{
      color: #333;
      font-weight: 600;
    }
    p{
      color: #444;
    }
  }
}

h1, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
}


h1{
  font-size: 3.5em;
  font-weight: 600;
}

h2{
  font-size: 2em;
  font-weight: 600;
}

p{
  font-size: 1em;
}

h5{
  font-size: 0.9em;
  color: #888;
}

.experience{
  margin-top: 55px;
  h2{
    margin-bottom: -10px;
  }
  .info-container{
    margin-top: 25px;
  }
}

.contact{
  margin-top: -45px;
}

.education{
  margin-top: 5px;
}

.skills{
  margin-top: -41px;
}

ul{
  list-style: none;
  padding: 0;
  li{
    margin-top: 10px;
    a{
      color: #EEE;
      text-decoration: underline;
    }
    strong{
      font-size: 1em;
      font-weight: normal;
    }
  }
}

.about{
  margin-top: 106px;
  p{
    width: 80%;
  }
  strong{
    font-weight: normal;
  }
}