.home-section{
  padding: 10px;
}

.left{
	width: 45%;
	background-color: #333;
	color: #eee;
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  float: left;
    display: flex;
  flex-direction: column;
position:absolute;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

.right{
	background-color: #EEE;
  order: 1;
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;  
  width: 55%;  display: flex;
  flex-direction: column;
  right: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
position:absolute;
  height: 100%;
}

.section-container{
  text-align: left;
  float: left;  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}