<div class="body-section intro">

	<div class="name-container flex-container">
		<div class="name">
			<div class="lead-text">
				<h1 [class.loaded]="inView">I'm Iain Ross -</h1>
			</div>
			<h1 [class.loaded]="inView">a <strong>ui</strong> and <strong>web developer.</strong></h1>
			<p [class.loaded]="inView">I'm a computer science student from Northern Ireland. With experience working on enterprise web applications, I've cultivated a passion for developing websites. 
			<br><br>Check out more about me down below.</p>
		</div>
	</div>
<!-- 
	<div class="side-menu">
		<h2 class="about">about</h2>
		<h2 class="about">projects</h2>
		<h2 class="about">contact</h2>
	</div> -->

</div>